# Reference: https://github.com/emard/ulx3s/blob/master/doc/constraints/ulx3s_v20.lpf

LOCATE COMP "clk_osc" SITE "G2";
IOBUF PORT "clk_osc" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_osc" 25 MHZ;

# UART TX/RX (from FPGA's point of view, i.e. TX is an output)

LOCATE COMP "uart_tx" SITE "L4"; # FPGA transmits to ftdi
LOCATE COMP "uart_rx" SITE "M1"; # FPGA receives from ftdi
IOBUF  PORT "uart_tx" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "uart_rx" PULLMODE=UP IO_TYPE=LVCMOS33;

# SWD on the left IO header (orientation: as viewed with the FPGA facing you
# and the USB/HDMI sockets at the top of the board) on the GP0/GN0 pins.
#
# SWCLK: GN0
# SWDIO: GP0
#
# Note "N" is the upper rank of pins and "P" is the lower rank.

LOCATE COMP "swclk"  SITE "C11"; # PCLK      # "gn[0]"
LOCATE COMP "swdio"  SITE "B11"; # PCLK      # "gp[0]"

IOBUF PORT  "swclk" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "swdio" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
